/* Main Page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header, footer {
    background-color: #001020;
    color: white;
    text-align: center;
    padding: 2%;
}

#logo {
    width: 110px;
    height: auto;
    margin-right: 10px;
}

/* Content */
main {
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

section {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1500px;
    height: 500px;;
    margin: 1%;
}

button {
    background-color: #a5081c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #fa2e47;
}
/*
Form Data */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
}

.edit-btn {
    padding: 3px 7px;
    font-size: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Mobile Crossplatforming */
@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    section {
        width: 80%;
        height: auto;
        margin-bottom: 20px;
    }
}

/* Footer */
footer {
    background-color: #001020;
    margin-top: auto;
    color: white;
    text-align: center;
    padding: 1%;
    font-size: 0.9em;
}

footer button {
    font-size: 10px;
    padding: 5px 10px;
}